# Terraform files
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# local configuration files
.terraform
.DS_Store

# Keys
*.pem
*.key
id_rsa
id_rsa.pub